.login-user-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-user-container {
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;

  h2 {
    margin-bottom: 20px;
  }

  form {
    .form-group {
      text-align: left;

      label {
        font-weight: bold;
      }

      input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
      }

      .text-danger {
        color: red;
        font-size: 12px;
        margin-top: 5px;
      }
    }
  }

  button {
    width: 100%;
  }

  p {
    margin-top: 10px;
  }
}
